/* ------------------------------- some resets ------------------------------ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
}

/* --------------------------------- colors --------------------------------- */
:root {
  --orange: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 20%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);

  font-size: 15px;
  font-family: "Overpass", sans-serif;
}

.rating-card {
  background-color: #182028;
  max-width: 412px;
  padding: 32px;
  border-radius: 30px;
}

/* --- this class will be dynamically applied to hide the unselected state -- */
.hide-me {
  display: none;
}

/* --------------------- styling for the "before" state --------------------- */
.star-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  background-color: var(--dark-blue);
  border-radius: 50%;
  margin-bottom: 30px;
}

.title {
  font-weight: 700;
  font-size: 28px;
  color: var(--white);
}

.body-text {
  line-height: 24px;
  color: var(--light-grey);
  margin: 15px 0 24px 0;
}

.rating-frame {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
  width: 100%;
}

.rating-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: var(--dark-blue);
  color: var(--light-grey);
  font-weight: 700;
  font-size: 16px;
  border-radius: 50%;
}

.rating-selected {
  background-color: var(--light-grey);
  color: var(--white);
}

.rating-button:hover,
.rating-button:active {
  background-color: var(--orange);
  color: var(--white);
  cursor: pointer;
}

.button-submit {
  width: 100%;
  background-color: var(--orange);
  color: var(--white);
  outline: none;
  border: none;
  font-weight: 700;
  padding: 11px 0;
  text-transform: uppercase;
  border-radius: 22px;
}

.button-submit:hover,
.button-submit:active {
  background-color: var(--white);
  color: var(--orange);
  cursor: pointer;
}

/* ---------------------- styling for the "after" state --------------------- */

.thankyou-logo {
  text-align: center;
}

.show-rating {
  text-align: center;
  color: var(--orange);
  background-color: var(--dark-blue);
  /* width: max-content; */
  padding: 5px 20px;
  margin: 36px 0;
  border-radius: 20px;
}

.centered {
  text-align: center;
}

/* --------------------------- attribution section -------------------------- */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
